/* noto-sans-sc-300 - cyrillic_latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 300;
    src: url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-300.eot'); /* IE9 Compat Modes */
    src: url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-300.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-300.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-300.svg#NotoSansSC') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-sc-regular - cyrillic_latin_latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 400;
    src: url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
    src: url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-regular.svg#NotoSansSC') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-sc-500 - cyrillic_latin_latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 500;
    src: url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-500.eot'); /* IE9 Compat Modes */
    src: url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-500.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-500.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-500.svg#NotoSansSC') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-sc-600 - cyrillic_latin_latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 600;
    src: url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-600.eot'); /* IE9 Compat Modes */
    src: url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-600.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-600.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-600.svg#NotoSansSC') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-sc-700 - cyrillic_latin_latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 700;
    src: url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-700.eot'); /* IE9 Compat Modes */
    src: url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-700.svg#NotoSansSC') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-sc-800 - cyrillic_latin_latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 800;
    src: url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-800.eot'); /* IE9 Compat Modes */
    src: url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-800.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-800.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-800.svg#NotoSansSC') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-sc-900 - cyrillic_latin_latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 900;
    src: url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-900.eot'); /* IE9 Compat Modes */
    src: url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-900.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-900.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('@/assets/fonts/noto-sans-sc-v36-cyrillic_latin_latin-ext-900.svg#NotoSansSC') format('svg'); /* Legacy iOS */
  }

  /* lora-regular - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Lora';
     font-style: normal;
     font-weight: 400;
     src: url('@/assets/fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
     src: url('@/assets/fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('@/assets/fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
          url('@/assets/fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
          url('@/assets/fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
          url('@/assets/fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext-regular.svg#Lora') format('svg'); /* Legacy iOS */
   }
   /* lora-500 - cyrillic_cyrillic-ext_latin_latin-ext */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Lora';
     font-style: normal;
     font-weight: 500;
     src: url('@/assets/fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext-500.eot'); /* IE9 Compat Modes */
     src: url('@/assets/fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('@/assets/fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
          url('@/assets/fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext-500.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
          url('@/assets/fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext-500.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
          url('@/assets/fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext-500.svg#Lora') format('svg'); /* Legacy iOS */
   }
   /* lora-600 - cyrillic_cyrillic-ext_latin_latin-ext */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Lora';
     font-style: normal;
     font-weight: 600;
     src: url('@/assets/fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext-600.eot'); /* IE9 Compat Modes */
     src: url('@/assets/fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('@/assets/fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
          url('@/assets/fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext-600.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
          url('@/assets/fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext-600.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
          url('@/assets/fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext-600.svg#Lora') format('svg'); /* Legacy iOS */
   }
   /* lora-700 - cyrillic_cyrillic-ext_latin_latin-ext */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Lora';
     font-style: normal;
     font-weight: 700;
     src: url('@/assets/fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext-700.eot'); /* IE9 Compat Modes */
     src: url('@/assets/fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('@/assets/fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
          url('@/assets/fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
          url('@/assets/fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
          url('@/assets/fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext-700.svg#Lora') format('svg'); /* Legacy iOS */
   }