header,
footer {
  display: none;
}
.main {
  min-height: 300vh;
}

.next-block {
  height: 100dvh;
  padding: 128px 32px;
  background-color: rgb(60, 58, 50);
  view-timeline: --next-block block -10% 0%;

  &__big-text {
    display: flex;
    justify-content: center;
    gap: 24px;

    animation-timeline: --next-block;
    // animation-name: textAnimation;
    animation-fill-mode: both;
    animation-timing-function: linear;
  }
  &__letter {
    display: block;
    transform: scaleY(150%) scaleX(110%);
    color: rgb(217, 214, 204);
    font-size: 150px;
    font-weight: 900;

    animation-timeline: --next-block;
    // animation-name: letterAnimation;
    animation-fill-mode: both;
    animation-timing-function: linear;

    &--space {
      padding-right: 50px;
    }
  }
}
