.header {
  &__logo {
    position: fixed;
    z-index: 10;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    overflow: hidden;
    height: 0;
    padding: 0;
    background-color: $bg-dark;
    color: $typography-invert;
    font-size: 34px;
    font-weight: 800;
    @include transition;
    cursor: pointer;

    &.expand {
      height: 64px;
      padding: 12px;
    }
  }
  &__nav {
    position: fixed;
    z-index: 10;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 104px;
    height: 0;
    background-color: $bg-dark;
    @include transition;

    &::after {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $typography-invert;
    }

    &.expand {
      height: 48px;
    }
  }
}
