.hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100dvh;
  background-color: $bg-black;
  animation: hero 1.3s cubic-bezier(0.56, 0.2, 0.4, 1.05) 0ms forwards;
  view-timeline: --hero block -10% 100%;

  &__img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 110%;

    animation-timeline: --hero;
    animation-name: heroImg;
    animation-fill-mode: both;
    animation-timing-function: linear;
  }

  &__name {
    position: absolute;
    bottom: 30px;
    left: -16px;
    display: flex;
    justify-content: center;
    gap: 40px;
    overflow: hidden;
    width: 100%;
    padding-bottom: 30px;
    color: $typography-invert;
    font-weight: 900;

    animation-timeline: --hero;
    animation-name: heroName;
    animation-fill-mode: both;
    animation-timing-function: linear;
  }

  &__word {
    display: flex;
    transform: translateX(20px) scaleY(180%);
  }

  &__letter {
    opacity: 0;
    transform: translateY(48%);
    animation: heroLetter 1s cubic-bezier(0.56, 0.2, 0.4, 1.05) 0ms forwards;
  }
}
