.hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100dvh;

  view-timeline: --view block -10% 100%;

  &__img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 110%;
  
    animation-timeline: --view;
    animation-name: animation;
    animation-fill-mode: both;
    animation-timing-function: linear;
  }

  &__name {
    position: absolute;
    bottom: 24px;
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 100%;
    color: $typography-invert;
    font-size: 20px;
    font-weight: 900;

    animation-timeline: --next-block;
    // animation-name: textAnimation;
    animation-fill-mode: both;
    animation-timing-function: linear;
  }

  &__word {
    display: flex;
    width: 100%;
  }

  &__letter {
    animation-timeline: --next-block;
    // animation-name: letterAnimation;
    animation-fill-mode: both;
    animation-timing-function: linear;
  }
}
