.videos {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
    margin: 0 auto;
    padding: 94px 0;
  }
  &__row {
    display: flex;
    width: 100%;
  }
  &__cell {
    position: relative;
    z-index: 3;
    margin: 40px;
    padding: 12px;
    border: 1px solid $theme-border;
    background-color: $bg-primary;
    cursor: pointer;

    &:hover {
      .videos {
        &__play {
          .icon {
            filter: opacity(0);
          }
        }
        &__video-wrapper {
          .icon {
            transform: translate(-50%, -50%) scale(1);
          }
        }
      }
    }
  }
  &__video {
    width: 100%;

    &-wrapper {
      position: relative;

      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 40px;
        height: 40px;
      }
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    font-family: $font-secondary;
    font-size: 16px;
    font-style: italic;

    &--top {
      padding-top: 6px;

      span:nth-child(1) {
        font-style: normal;
      }
    }
    &--bottom {
      margin-top: 96px;

      .icon {
        width: 12px;
        height: 20px;
        color: $btn-text-normal;
      }
    }
  }
  &__play {
    @include transition;
  }
  &__watch {
    display: flex;
    font-family: $font-primary;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    @include font-transform;
  }
  &__letter {
  }
}
