.videos {
  position: relative;
  z-index: 1;
  background-color: $bg-primary;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
    margin: 0 auto;
    padding: 94px 0;
  }
  &__row {
    display: flex;
    width: 100%;
  }
  &__cell {
    position: relative;
    z-index: 3;
    margin: 40px;
    padding: 12px;
    border: 1px solid $theme-border;
    background-color: $bg-primary;
    cursor: pointer;

    &:hover {
      .videos {
        &__row {
          &--bottom {
            .icon {
              filter: opacity(0);
              transition-delay: 0s;
            }
          }
        }
        &__video-wrapper {
          .icon {
            transform: translate(-50%, -50%) scale(1);
          }
        }
        &__letter {
          bottom: 0;
          filter: opacity(1);
        }
      }
    }
  }
  &__video {
    width: 100%;

    &-wrapper {
      position: relative;

      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 40px;
        height: 40px;
      }
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    font-family: $font-secondary;
    font-size: 16px;
    font-style: italic;

    &--top {
      padding-top: 6px;

      span:nth-child(1) {
        font-style: normal;
      }
    }
    &--bottom {
      position: relative;
      margin-top: 96px;

      .icon {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 12px;
        height: 20px;
        color: $btn-text-normal;
        transition-delay: 0.4s;
      }
    }
  }
  &__watch {
    position: absolute;
    right: 0;
    bottom: 8px;
    display: flex;
    overflow: hidden;
    font-family: $font-primary;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    @include font-transform;
  }
  &__letter {
    position: relative;
    bottom: -30px;
    filter: opacity(0);
    @include transition;
    transition-timing-function: cubic-bezier(0.56, 0.2, 0.4, 1.05);

    &:nth-child(2) {
      transition-delay: 0.05s;
    }
    &:nth-child(3) {
      transition-delay: 0.1s;
    }
    &:nth-child(4) {
      transition-delay: 0.15s;
    }
    &:nth-child(5) {
      transition-delay: 0.2s;
    }
  }
}
