@keyframes heroImg {
  0% {
    filter: opacity(1);
    transform: translateX(-50%) translateY(0%) scale(100%);
  }
  100% {
    filter: opacity(0.2);
    transform: translateX(-50%) translateY(60%) scale(130%);
  }
}

@keyframes heroName {
  0% {
    transform: translateY(0);
    font-size: 224px;
  }
  100% {
    transform: translateY(166%);
    font-size: 40px;
  }
}

@keyframes hero {
  0% {
    scale: 120%;
    filter: opacity(0);
  }
  100% {
    scale: 100%;
    filter: opacity(1);
  }
}

@keyframes heroLetter {
  0% {
    filter: opacity(0);
    transform: translateY(48%);
  }
  100% {
    filter: opacity(1);
    transform: translateY(0%);
  }
}

@keyframes showVideo {
  0% {
    position: fixed;
  }
  100% {
    position: fixed;
    display: none;
  }
}

@keyframes upcomingTitle {
  0% {
    filter: opacity(1);
    transform: scale(1);
  }
  100% {
    filter: opacity(0.6);
    transform: scale(0.7);
  }
}

.album-list-enter-active {
  animation: albumList 0.6s;
}
.album-list-leave-active {
  animation: albumList 0.5s reverse;
}

@keyframes albumList {
  0% {
    top: 420px;
    filter: opacity(0);
  }
  100% {
    top: 380px;
    filter: opacity(0.76);
  }
}

@keyframes quotesColumn {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(-10%);
  }
}

@keyframes quotesAfter {
  0% {
    transform: translateY(230%);
  }
  100% {
    transform: translateY(-16%);
  }
}