@keyframes heroImg {
  0% {
    filter: opacity(1);
    transform: translateX(-50%) translateY(0%) scale(100%);
  }
  100% {
    filter: opacity(0.2);
    transform: translateX(-50%) translateY(60%) scale(130%);
  }
}

@keyframes heroName {
  0% {
    transform: translateY(0);
    font-size: 224px;
  }
  100% {
    transform: translateY(166%);
    font-size: 40px;
  }
}

@keyframes hero {
  0% {
    scale: 120%;
    filter: opacity(0);
  }
  100% {
    scale: 100%;
    filter: opacity(1);
  }
}

@keyframes heroLetter {
  0% {
    filter: opacity(0);
    transform: translateY(48%);
  }
  100% {
    filter: opacity(1);
    transform: translateY(0%);
  }
}

@keyframes showVideo {
  0% {
    position: fixed;
  }
  100% {
    position: fixed;
    display: none;
  }
}

@keyframes upcomingTitle {
  0% {
    filter: opacity(1);
    transform: scale(1);
  }
  100% {
    filter: opacity(0.6);
    transform: scale(0.7);
  }
}