*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  background-color: $bg-primary;
  font-family: $font-primary;
  font-size: $font-size;
  font-weight: $font-weight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $typography-primary;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

button {
  @include btn;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
}