@mixin transition() {
  transition: all 0.3s ease-in-out 0s;
}

@mixin btn() {
  padding: 0;
  border: none;
  background: transparent;
  font-family: $font-primary;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  @include transition;
}

@mixin font-transform() {
  transform: scaleY($font-scale);
}
