$theme-primary: rgba(246,136,115,1);
$theme-border-light: rgba(0,61,89,0.100);
$theme-border: rgba(0,61,89,0.160);
$theme-border-dark: rgba(0,61,89,0.320);
$theme-disable: rgba(0,61,89,0.040);
$theme-accent: rgba(246,136,115,1);

$typography-primary: rgb(81, 77, 70); //*
$typography-invert: rgb(217, 214, 204); //*
$typography-secondary: rgba(0,61,89,0.720);
$typography-accent: rgba(246,136,115,1);

$bg-primary: rgb(217, 214, 204); //*
$bg-black: rgb(0, 0, 0); //*

$bg-secondary: rgba(0,61,89,0.040);
$bg-invert: rgba(0,61,89,1);
$bg-overlay: rgba(0,61,89,0.800);

$func-error: rgba(240,124,124,1);
$func-complete: rgba(86,189,84,1);

$icon-normal: rgba(153,177,189,1);
$icon-hover: rgba(102,139,155,1);
$icon-active: rgba(246,136,115,1);
$icon-white: rgba(255,255,255,1);
$icon-disable: rgba(224,232,235,1);
$icon-accent: rgba(246,136,115,1);
$icon-dark: rgba(0,61,89,1);

$input-placeholder-normal: rgba(0,61,89,0.480);
$input-placeholder-hover: rgba(0,61,89,0.480);
$input-placeholder-focus: rgba(0,61,89,0.480);
$input-placeholder-active: rgba(0,61,89,1);
$input-placeholder-filled: rgba(0,61,89,1);
$input-placeholder-disable: rgba(0,61,89,0.200);
$input-placeholder-required: rgba(246,136,115,1);
$input-border-normal: rgba(0,61,89,0.120);
$input-border-hover: rgba(0,61,89,0.200);
$input-border-disable: rgba(0,61,89,0.040);
$input-border-error: rgba(240,124,124,0.560);

$btn-text-dark: rgba(0,61,89,1);
$btn-text-white: rgba(255,255,255,1);
$btn-text-accent: rgba(246,136,115,1);
$btn-text-disabled: rgba(212,213,216,1);
$btn-primary-normal: rgba(246,136,115,1);
$btn-primary-hover: rgba(246,136,115,0.800);
$btn-primary-disable: rgba(249,249,249,1);
$btn-primary-active: rgba(246,136,115,1);
$btn-secondary-normal: rgba(0,61,89,0.040);
$btn-secondary-hover: rgba(0,61,89,0.080);
$btn-secondary-active: rgba(0,61,89,0.120);
$btn-white-normal: rgba(255,255,255,0.160);
$btn-white-hover: rgba(255,255,255,0.100);
$btn-white-active: rgba(255,255,255,0.120);

$link-normal: rgba(246,136,115,1);
$link-hover: rgba(246,136,115,0.600);
$link-white: rgba(255,255,255,1);

// Базовая типографика
$font-size: 16px;
$font-weight: 400;
$line-height: normal;
$letter-spacing: normal;

$font-primary: "Advent Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-secondary: Lora, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;

//Медиа-запросы
$media-xl: 1340px;
$media-l: 1024px;
$media-m: 768px;
$media-s: 520px;
$media-xs: 375px;
