body:has(.main) {
  header,
  footer {
    display: none;
  }
}

.main {
  min-height: 300vh;
}

.next-block {
  height: 100dvh;
  padding: 128px 32px;
  background-color: rgb(60, 58, 50);
  view-timeline: --next-block block -10% 0%;
}
